**/__mocks__
**/__tests__
.circleci
.github
.vscode
build
coverage
docs
examples
scripts
src
test
.commit-msg
.dockerignore
*.emit
*.env
.env
.editorconfig
*.log
.nyc_output
.prettierignore
*.sh
**/*.spec.*
.travis.yml
*.yml
Dockerfile
tsconfig.json
tsconfig.spec.json
tsconfig.module.json
tslint.json
